@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.contact-page {
  width: 100%;
  min-height: 100vh;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.contact-container {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 60px 20px;
}

.logo-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.line {
  height: 2px;
  width: 60px;
  background-color: #ff6b00;
  border-radius: 2px;
}

.contact-logo {
  width: 70px;
  height: 70px;
  border: 2px solid #ff6b00;
  border-radius: 50%;
  background-color: #000;
  object-fit: contain;
  padding: 10px;
}


.contact-title {
  font-size: 2.3rem;
  color: #ff6b00;
  font-weight: 800;
  margin-bottom: 12px;
}

.contact-text {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 40px;
}


.contact-card {
  background: rgba(20, 20, 20, 0.85);
  border: 2px solid #ff6b00;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(255, 107, 0, 0.3);
  backdrop-filter: blur(8px);
}

.gmail-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  border-color: 2px solid #ff6b00;
}

.email-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.email-link:hover {
  color: #ff6b00;
  text-decoration: underline;
}
